<servlet>
	<servlet-name>customer-rest-service</servlet-name>
	<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
	<init-param>
		<param-name>com.sun.jersey.config.property.packages</param-name>
		<param-value>com.app.customer.service</param-value>
	</init-param>
	<init-param>
	    <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
	    <param-value>true</param-value>
	</init-param>
	<load-on-startup>1</load-on-startup>
</servlet>
<servlet-mapping>
	<servlet-name>customer-rest-service</servlet-name>
	<url-pattern>/rest/*</url-pattern>
</servlet-mapping>

	
